@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@1,500&family=Lora:ital,wght@1,500&family=Satisfy&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");

body {
    background: #DFEEEA;
    font-family: "lora", serif;
    font-size: 18px;
    margin: 0px auto;
}

h1, h2, h3 {
    font-family: "Andada Pro", sans-serif;
    font-weight: bold;
    color: #316B83;
}

a {
    text-decoration: none;
}
